footer {
    background-color: black; /* Color de fondo del footer */
    color: white;
    padding: 20px 0; /* Espaciado interno del footer */
    text-align: center; /* Centrar el texto */
    position: fixed; /* Fijar el footer en la parte inferior de la ventana */
    width: 100%; /* Ancho completo */
    bottom: 0; /* Pegar el footer a la parte inferior */
  }

body{
    background-color: white;
    color: black;
}